body{
    margin:0;
    background:#edf2f7;
    font-family:Arial;
}

.login-page{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    width:380px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.login-box h1{
    text-align:center;
    color:#1565c0;
}

.login-box p{
    text-align:center;
    color:gray;
    margin-bottom:25px;
}

.input-field{
    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:8px;
    box-sizing:border-box;
}

.btn{
    width:100%;
    padding:12px;
    background:#1565c0;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.btn:hover{
    background:#0d47a1;
}

.login-box h4{
    text-align:center;
    color:#1565c0;
    cursor:pointer;
    margin-top:20px;
}